@font-face {
  font-family: Rawengulk Sans;
  src: url("webfonts/RawengulkSans-094.otf") format("opentype");
}

@font-face {font-family: Sketchetik-Light;src: url('webfonts/1C3415_0_0.eot');src: url('webfonts/1C3415_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/1C3415_0_0.woff') format('woff'),url('webfonts/1C3415_0_0.ttf') format('truetype');}

h1, h2, hr {
  margin:0;
  padding:0;
}
body, ol, ul, li, a, div, input, select {
	margin:0;
	padding:0;
	font-family:Rawengulk Sans, Arial,  sans-serif;
	font-size: 13px;
}
ol, ul {
    list-style: none outside none;
}
.clear{
  clear:both;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  font-size: 15px;
  font-style: italic;
}
.submit{
  border:none;
  width:150px;
}
.light_gray{
  background-color:#DDDDDD !important;
}
.green{
  background-color:#00A160 !important;
}

.gray{
  background-color:#7D7B7C !important;
}
.wrapper{
	margin: 0 auto;
	width: 1050px;
	position:relative;
}
.header{
	color: #000;
	height:105px;
	border-bottom: 2px solid #7D7B7C;
}
.logo{
  float:left;
}
.headerForm{
  float:left;
  font-size:20px;
  float:left;
  padding: 65px 0 0 25px; 
}

.header_icon{
  position:relative;
  float: right;
  width: 55px;
  height: 100px;
  cursor: pointer;
}

p.htext{
  position:absolute;
  bottom:0;
  margin: auto;
}

.headerform label{
  font-size:15px;
}
.headerForm input{
  margin: 0 0 0 10px;
}

ul.menu li{
  width:187px;
  height:30px;
  float:left;
  background:#ABAAAB;
  text-align: center;
  margin: 0 1px 0 0;
}
.main_content{
	padding: 1px 0 10px 0;
	width:700px;
}
.right_content{
  position: absolute;
  right:0px;
  width:302px;
}
.ad{
  font-size: 70px;
  width: 300px;
  height: 250px;
  border-bottom: 1px solid #000;
}

ul.menu li:hover{
  background-color: #DDDDDD;
}
li.menu_odd{
  background-color: #777777;
}
.announcement{
  margin: 10px auto 0 auto;
  width:400px;
}

.icon_menu{

}

.viewer{
  height:500px;
  width:725px;
  margin: 15px 0 20px 10px;
}
.img_box{
  width:650px;
  height: 500px;
  position:relative;
  background-color: #CCC;
}
.img_contents{
  width:650px;
  height:500px;
  position:absolute;
  display:none;
}
.img_contents .current{
  z-index:2
}

.menu_selector{
  cursor:pointer;
}

.menu_box{
  float:left;
  width:725px;
  height:20px;
}
.menu_box li{
  float: left;
  width: 10px;
  height: 10px;
  background: #FFF;
  z-index:100;
}
.menu_box li:hover{
  background: #888;
}

.menu_box li.current_menu_box{
  background: #888;
}


table.featured_table td, table.footer_table td{
  text-align: center;
  vertical-align:top;
  width:250px;
}
tr.heading td{
  height: 25px;
  background: #ABAAAB;
  color: #FFF;
}

tr.featured_content td{
  height: 250px;
  background: #cccccc;
  margin: 10px 10px 10px 0;
}

._content{
  display:none;
}
._content.selected{
  display:block;
}
.tab_content{
  clear:both;
  height:100%;
  overflow:hidden;
}
.location_box{
  height:200px;
  width:100%;
  background:#FFDDAF;
}
.location_box.odd{
  background:#CCCCCC;
}

.photos{
  float:left;
}
.listing_info{
  float:left;
  padding-left:15px;
  width:250px;
}

.breadcrumb{
  padding: 10px 0 0 0;
  color:#4d4b4c;
}

.breadcrumb h2{
  font-family:Sketchetik-Light, Arial, sans-serif;
  font-size:25px;
  font-weight: 500;
}
.listing h1{
  margin:0;
}

.listing_thumb{
  display:inline;
  margin:3px;
  cursor: pointer;
}
.button{
  float:right;
  width:200px;
  color:#FFFFFF;
  font-weight: bold;
  padding:5px 0; 
  cursor: pointer;
}

hr.solid_gray{
  color: #4d4b4c;
  background-color: #4d4b4c;
  height: 2px;
}

.review{
  margin:3px 0;
}



/*
*
*
*
Review Box CSS: THis may need to move
*
*
*
*/
.r_outer{
  width:500px;
  border: 1px solid #000000;
}

.review_info{
  float: right;
  text-align: right;
}
.review_info h1{
  font-size: 25px;
  font-family:Sketchetik-Light, Arial, sans-serif;
  font-weight: 500;
}

.review_bar{
  width:520px;
}

.r_heading{
  width: 30%;
  float:left;
  text-align: right;
  height:27px;
  padding-top:4px;
}
.r_stars{
  position: relative;
  height:26px;
  padding: 5px 0 0 42px;
  display:inline-block;
  width:58%;
}

ul.stars{
  position:absolute;
  top:-10px;
  left:156px;
  display: inline-block;
  text-align: center
}

ul.stars li{
  display:inline;
  font-size: 75px;
  font-family:Sketchetik-Light, Arial, sans-serif;
  font-weight: 500;
}

textarea#r_text{
  font-family:Rawengulk Sans, Arial,  sans-serif;
  -moz-box-sizing: border-box;
    line-height: 1.2em;
    min-height: 9.6em;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    width: 100%;
    border: none;
}

.share_review{
  width:200px;
  height:30px;
  border: 1px solid #000000;
}

input#submit_review{
  float:right;
  text-align: right;
}

/*
*
* MYNOTES / CITYNOTES PAGES CSS
*
*/

.left_menu{
  float:left;
  margin-top:20px;
}
.left_menu ul li{
  width: 150px;
  height:30px;
  padding: 10px 10px 10px 0;
  text-align: right;
  border-bottom: 1px solid #000000;
  cursor:pointer;
}

.left_menu ul li.selected{
  background:#ABAAAB;
  text-align: left;
  cursor: default;
}

.left_menu ul li:hover{
  background:#ABAAAB;
}

.listings_content{
  float:left;
  width:500px;
  padding: 17px 0 0 20px;
}

.part_listing{
  width: 550px;
}
.part_listing_image{
  display: inline-block;
}
.part_listing_info{
  display: inline-block;
  width:380px;
  vertical-align:top;
}

.part_listing_actions{
  text-align: right;
}

.call_to_action{
  float:right;
  background: #DDDDDD;
  padding:10px;
  width:280px;
  margin: -30px 0 10px 0;
}
